@mixin mt($spacing) {
    margin-top: var(--spacing-#{$spacing})
}
@mixin mb($spacing) {
    margin-bottom: var(--spacing-#{$spacing})
}
@mixin ml($spacing) {
    margin-left: var(--spacing-#{$spacing})
}
@mixin mr($spacing) {
    margin-right: var(--spacing-#{$spacing})
}
@mixin mx($spacing) {
    @include ml($spacing);
    @include mr($spacing);
}
@mixin my($spacing) {
    @include mt($spacing);
    @include mb($spacing);
}
@mixin m($spacing) {
    @include mx($spacing);
    @include my($spacing);
}

@mixin pt($spacing) {
    padding-top: var(--spacing-#{$spacing})
}
@mixin pb($spacing) {
    padding-bottom: var(--spacing-#{$spacing})
}
@mixin pl($spacing) {
    padding-left: var(--spacing-#{$spacing})
}
@mixin pr($spacing) {
    padding-right: var(--spacing-#{$spacing})
}
@mixin px($spacing) {
    @include pl($spacing);
    @include pr($spacing);
}
@mixin py($spacing) {
    @include pt($spacing);
    @include pb($spacing);
}
@mixin p($spacing) {
    @include px($spacing);
    @include py($spacing);
}