.visual-info {
    @include my(9, 10);

    &.left-align {
        text-align: left;
    }

    &.right-align {
        text-align: right;
    }
    &.justified-align {
        text-align: justify;
    }
    &.center-align {
        text-align: center;
    }
}